<!DOCTYPE html>
<html>
  <head>
    <title>FLEXpx</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.floatingHead = "<%= asset_url("default-avatar-250x250.png") %>"
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
